vars:
  - path:
      # Path are relative to location of dvc.yaml file
      scripts: ../../src/datasets/logatec
      common: ../../src
      data: ../../artifacts/logatec/data
      models: ../../artifacts/logatec/models
      reports: ../../artifacts/logatec/reports

  - subsets: [winter, spring]

  # Models and splits are defined in params.yaml

stages:
  prepare:
    desc: Download, unzip, and convert dataset to pickle format
    matrix:
      subset: ${subsets}
    cmd: |
      unzip -j ${path.data}/raw/logatec.zip ${item.subset}_data.json -d ${path.data}/raw/
      python ${path.scripts}/prepare.py --method average --input ${path.data}/raw/${item.subset}_data.json --output ${path.data}/featurized/${item.subset}.pkl
      rm ${path.data}/raw/${item.subset}_data.json
    deps:
      - ${path.scripts}/prepare.py
      - ${path.data}/raw/logatec.zip
    outs:
      - ${path.data}/featurized/${item.subset}.pkl

  eda_raw:
    desc: Exploratory data analysis
    matrix:
      subset: ${subsets}
    cmd: >
      python ${path.common}/eda.py
      --input ${path.data}/featurized/${item.subset}.pkl
      --output ${path.reports}/featurized/${item.subset}.tex
    deps:
      - ${path.common}/eda.py
      - ${path.data}/featurized/${item.subset}.pkl
    outs:
      - ${path.reports}/featurized/${item.subset}.tex

  featurize:
    desc: Enrich dataset with additional features
    matrix:
      subset: ${subsets}
    cmd: >
      python ${path.scripts}/featurize.py
      --input ${path.data}/featurized/${item.subset}.pkl
      --output ${path.data}/prepared/${item.subset}.pkl
    deps:
      - ${path.scripts}/featurize.py
      - ${path.data}/featurized/${item.subset}.pkl
    outs:
      - ${path.data}/prepared/${item.subset}.pkl

  eda_features:
    desc: Exploratory data analysis
    matrix:
      subset: ${subsets}
    cmd: >
      python ${path.common}/eda.py
      --input ${path.data}/prepared/${item.subset}.pkl
      --output ${path.reports}/prepared/${item.subset}.tex
    deps:
      - ${path.common}/eda.py
      - ${path.data}/prepared/${item.subset}.pkl
    outs:
      - ${path.reports}/prepared/${item.subset}.tex

  split:
    desc: Prepare train-test split indices for model training and evaluation
    matrix:
      subset: ${subsets}
      split: ${split.types}
    cmd: >
      python ${path.scripts}/split.py
      --input ${path.data}/prepared/${item.subset}.pkl
      --split ${item.split}
      --output-indices ${path.data}/splits/${item.subset}-${item.split}Split.pkl
    params:
      - split
    deps:
      - ${path.scripts}/split.py
      - ${path.data}/prepared/${item.subset}.pkl
    outs:
      - ${path.data}/splits/${item.subset}-${item.split}Split.pkl


  gridsearch:
    desc: Determine best hyper-parameters for algorithm on several CVs
    matrix:
      subset: ${subsets}
      split: ${split.types}
      model: ${gridsearch}
    cmd: >
      python ${path.common}/benchmark.py
      --use ${item.model}
      --optimizer gridsearch
      --data ${path.data}/prepared/${item.subset}.pkl
      --split-indices ${path.data}/splits/${item.subset}-${item.split}Split.pkl
      --output-results ${path.models}/gridsearch-${item.subset}-${item.split}-${item.model}/${item.subset}-${item.model}-${item.split}Split-results.pkl
    params:
      - gridsearch.${item.model}
    deps:
      - ${path.common}/benchmark.py
      - ${path.data}/prepared/${item.subset}.pkl
      - ${path.data}/splits/${item.subset}-${item.split}Split.pkl
    outs:
      - ${path.models}/gridsearch-${item.subset}-${item.split}-${item.model}/${item.subset}-${item.model}-${item.split}Split-results.pkl

  automl:
    desc: Determine best hyper-parameters for algorithm on several CVs
    matrix:
      subset: ${subsets}
      split: ${split.types}
      model: ${automl}
    cmd: >
      python ${path.common}/benchmark.py
      --use ${item.model}
      --optimizer automl
      --data ${path.data}/prepared/${item.subset}.pkl
      --split-indices ${path.data}/splits/${item.subset}-${item.split}Split.pkl
      --output-results ${path.models}/automl-${item.subset}-${item.split}-${item.model}/${item.subset}-${item.model}-${item.split}Split-results.pkl
    params:
      - automl.${item.model}
    deps:
      - ${path.common}/benchmark.py
      - ${path.data}/prepared/${item.subset}.pkl
      - ${path.data}/splits/${item.subset}-${item.split}Split.pkl
    outs:
      - ${path.models}/automl-${item.subset}-${item.split}-${item.model}/${item.subset}-${item.model}-${item.split}Split-results.pkl

  evaluation:
    matrix:
      subset: ${subsets}
    cmd: >
      python ${path.common}/report.py
      ${path.models}/${item.subset}*-results.pkl
      --output-report ${path.reports}/performance-${item.subset}.tex
    deps:
      - ${path.common}/report.py
      - ${path.models}
    metrics:
      - ${path.reports}/performance-${item.subset}.tex:
          cache: false
