vars:
  - path:
      # Path are relative to location of dvc.yaml file
      scripts: ../../src/logatec
      common: ../../src
      data: ../../artifacts/logatec/data
      models: ../../artifacts/logatec/models
      reports: ../../artifacts/logatec/reports

  - subsets: [winter, spring]
  - splits: [Random, KFold, LeaveOneGroupOut]

  # Models are defined in params.yaml

stages:

  prepare:
    desc: Download, unzip, and convert dataset to pickle format
    matrix:
      subset: ${subsets}
    cmd: |
      unzip -j ${path.data}/raw/logatec.zip ${item.subset}_data.json -d ${path.data}/raw/
      python ${path.scripts}/prepare.py --method average --input ${path.data}/raw/${item.subset}_data.json --output ${path.data}/interim/${item.subset}.pkl
      rm ${path.data}/raw/${item.subset}_data.json
    deps:
      - ${path.scripts}/prepare.py
      - ${path.data}/raw/logatec.zip
    outs:
      - ${path.data}/interim/${item.subset}.pkl


  featurize:
    desc: Enrich dataset with additional features
    matrix:
      subset: ${subsets}
    cmd: >
      python ${path.scripts}/featurize.py
      --input ${path.data}/interim/${item.subset}.pkl
      --output ${path.data}/prepared/${item.subset}.pkl
    deps:
      - ${path.scripts}/featurize.py
      - ${path.data}/interim/${item.subset}.pkl
    outs:
      - ${path.data}/prepared/${item.subset}.pkl

  split:
    desc: Prepare train-test split indices for model training and evaluation
    matrix:
      subset: ${subsets}
      split: ${splits}
    cmd: >
      python ${path.scripts}/split.py
      --input ${path.data}/prepared/${item.subset}.pkl
      --split ${item.split}
      --output-indices ${path.data}/splits/${item.subset}-${item.split}Split.pkl
    params:
      - seed
      - split
    deps:
      - ${path.scripts}/split.py
      - ${path.data}/prepared/${item.subset}.pkl
    outs:
      - ${path.data}/splits/${item.subset}-${item.split}Split.pkl


  optimization:
    desc: Determine best hyper-parameters for algorithm on several CVs
    matrix:
      subset: ${subsets}
      split: ${splits}
      model: ${models}
    cmd: >
      python ${path.common}/benchmark.py
      --use ${item.model}
      --data ${path.data}/prepared/${item.subset}.pkl
      --split-indices ${path.data}/splits/${item.subset}-${item.split}Split.pkl
      --output-results ${path.models}/${item.subset}-${item.model}-${item.split}Split-results.pkl
    params:
      - seed
      - models.${item.model}
    deps:
      - ${path.common}/benchmark.py
      - ${path.data}/prepared/${item.subset}.pkl
      - ${path.data}/splits/${item.subset}-${item.split}Split.pkl
    outs:
      - ${path.models}/${item.subset}-${item.model}-${item.split}Split-results.pkl


  evaluation:
    matrix:
      subset: ${subsets}
    cmd: >
      python ${path.common}/report.py
      ${path.models}/${item.subset}-*-results.pkl
      --output-report ${path.reports}/metrics-${item.subset}.json
    deps:
      - ${path.common}/report.py
      - ${path.models}
    metrics:
      - ${path.reports}/metrics-${item.subset}.json:
          cache: false
