vars:
  - path:
      # Path are relative to location of dvc.yaml file
      scripts: ../../src/datasets/ctw2019
      common: ../../src
      data: ../../artifacts/ctw2019/data
      models: ../../artifacts/ctw2019/models
      reports: ../../artifacts/ctw2019/reports

  # Models and splits are defined in params.yaml



stages:
  prepare:
    desc: Prepare CTW2019 dataset for the MLOps pipeline
    cmd:
      - unzip ${path.data}/raw/CTW2019_Dataset_h5.zip -d ${path.data}/raw/
      - >
        python ${path.scripts}/prepare.py
        --data-h ${path.data}/raw/h_Estimated_CTW_Train.h5
        --data-snr ${path.data}/raw/SNR_CTW_Train.h5
        --data-pos ${path.data}/raw/r_Position_CTW_Train.h5
        --output ${path.data}/featurized/ctw2019.pkl
      - rm ${path.data}/raw/*.h5
    deps:
      - ${path.scripts}/prepare.py
      - ${path.data}/raw/CTW2019_Dataset_h5.zip
    outs:
      - ${path.data}/featurized/ctw2019.pkl


#  eda_raw:
#    desc: Exploratory data analysis
#    cmd: >
#      python ${path.common}/eda.py
#      --input ${path.data}/featurized/ctw2019.pkl
#      --output ${path.reports}/featurized/ctw2019.tex
#    deps:
#      - ${path.common}/eda.py
#      - ${path.data}/featurized/ctw2019.pkl
#    outs:
#      - ${path.reports}/featurized/ctw2019.tex


  featurize:
    desc: Enrich dataset with additional features
    cmd: >
      python ${path.scripts}/featurize.py
      --input ${path.data}/featurized/ctw2019.pkl
      --output ${path.data}/prepared/ctw2019.pkl
    deps:
      - ${path.scripts}/featurize.py
      - ${path.data}/featurized/ctw2019.pkl
    outs:
      - ${path.data}/prepared/ctw2019.pkl


  flatten:
    desc: Prepare flatten input data for cetain ML algorithms
    cmd: >
      python ${path.scripts}/flatten.py
      --input ${path.data}/prepared/ctw2019.pkl
      --output ${path.data}/prepared/ctw2019.flatten.pkl
    deps:
      - ${path.scripts}/flatten.py
      - ${path.data}/prepared/ctw2019.pkl
    outs:
      - ${path.data}/prepared/ctw2019.flatten.pkl


#  eda_features:
#    desc: Exploratory data analysis
#    cmd: >
#      python ${path.common}/eda.py
#      --input ${path.data}/prepared/ctw2019.flatten.pkl
#      --output ${path.reports}/prepared/ctw2019.flatten.tex
#    deps:
#      - ${path.common}/eda.py
#      - ${path.data}/prepared/ctw2019.flatten.pkl
#    outs:
#      - ${path.reports}/prepared/ctw2019.flatten.tex


  split:
    desc: Split dataset and store indices
    matrix:
      split: ${split.types}
    cmd: >
      python ${path.scripts}/split.py
      --input ${path.data}/prepared/ctw2019.pkl
      --split ${item.split}
      --output-indices ${path.data}/splits/${item.split}Split.pkl
    params:
      - split
    deps:
      - ${path.scripts}/split.py
      - ${path.data}/prepared/ctw2019.pkl
    outs:
      - ${path.data}/splits/${item.split}Split.pkl


  gridsearch:
    desc: Determine best hyper-parameters for algorithm on several CVs
    matrix:
      split: ${split.types}
      model: ${gridsearch}
    cmd: >
      python ${path.common}/benchmark.py
      --use ${item.model}
      --optimizer gridsearch
      --data ${path.data}/prepared/ctw2019.flatten.pkl
      --split-indices ${path.data}/splits/${item.split}Split.pkl
      --output-results ${path.models}/gridsearch-${item.split}-${item.model}/${item.model}-${item.split}Split-results.pkl
    params:
      - gridsearch.${item.model}
    deps:
      - ${path.common}/benchmark.py
      - ${path.data}/prepared/ctw2019.flatten.pkl
      - ${path.data}/splits/${item.split}Split.pkl
    outs:
      - ${path.models}/gridsearch-${item.split}-${item.model}/${item.model}-${item.split}Split-results.pkl

  automl:
    desc: Determine best hyper-parameters for algorithm on several CVs
    matrix:
      split: ${split.types}
      model: ${automl}
    cmd: >
      python ${path.common}/benchmark.py
      --use ${item.model}
      --optimizer automl
      --data ${path.data}/prepared/ctw2019.pkl
      --split-indices ${path.data}/splits/${item.split}Split.pkl
      --output-results ${path.models}/automl-${item.split}-${item.model}/${item.model}-${item.split}Split-results.pkl
    params:
      - automl.${item.model}
    deps:
      - ${path.common}/benchmark.py
      - ${path.data}/prepared/ctw2019.pkl
      - ${path.data}/splits/${item.split}Split.pkl
    outs:
      - ${path.models}/automl-${item.split}-${item.model}/${item.model}-${item.split}Split-results.pkl


  evaluation:
    cmd: >
      python ${path.common}/report.py
      ${path.models}/*-results.pkl
      --output-report ${path.reports}/performance.tex
    deps:
      - ${path.common}/report.py
      - ${path.models}
    metrics:
      - ${path.reports}/performance.tex:
          cache: false
